.dotfiles-backup/
t/
Downloads/
c/
p/
myGoogleDrive/
.bash_history
.bash_logout
.cache/
.cargo/
Desktop/
Documents/
.lesshst
Music/
.opam/
.npm/
node_modules/
Public/
Templates/
Videos/
vimfiles/
.wget-hsts
.viminfo
package.json
packages-lock.json
Pictures/
.pki/
*-pre
bin/
